<div class="header">
	<div>
		<video autoplay loop muted class="header-video">
		 	<source src="/video/Anime.mp4" type="video/mp4">
		    <source src="/video/Anime.webm" type="video/webm">
		   	<source src="/video/Dragon Ball Z Opening 1 - Original 1989 Japanese (1080p HD).mp4" type="video/mp4">
		</video>
	</div>

	<div class="header-text">
		<div class="row">
			<div class="col-md-12 header-title">
				<h2 class="text-branding text-jumbo text-contrast space-1">WELCOME</h2>
				<div class="h4 text-contrast space-4">
					A place for people who want to become anime fans.
				</div>
				<!-- <a href="/info/what_is_anime" class="btn hide-sm btn-contrast btn-large btn-semi-transparent js-show-what-is-anime">What Is Anime</a> -->
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<h1 class="anime-tag">What Is Anime?</h1>
		<p>Short for "animation", anime is a term for a style of Japanese comic book(or known as Manga) and video cartoon animation. Anime has been produced in Japan for decades and has a distinct look and feel. It is typically aimed at adults and kids. What makes it different is not just the artwork but it's the storytelling, themes and concepts. Within the last 20 years, anime has become an international phenomenon, attracting people from different races and being translated into many languages.</p>
		<a href="https://www.youtube.com/watch?v=Qc0tIjw7fII" target="_blank">Learn more about anime by watching this video.</a>
	</div>

	<div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 50px;">
            <!-- <p>Here are other links to check out:</p> -->
            <hr class="primary">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="https://github.com/lilvina" target="blank" style="margin-right: 5px;">
                <i class="fa fa-github-square fa-3x wow bounceIn"></i>
            </a>
            <a href="https://www.linkedin.com/in/davinataylor" target="blank" style="margin-right: 5px">
                <i class="fa fa-linkedin-square fa-3x wow bounceIn"></i>
            </a>
            <a href="https://www.facebook.com/davina.taylor.372" target="blank" style="margin-right: 5px">
                <i class="fa fa-facebook-square fa-3x wow bounceIn"></i>
            </a>
        </div>
    </div>

</div>

<!-- <div class="container-fluid tutorial">
	<div class="row text-center">
		<h2 class="about-tag">What Is Anime?</h2>
	</div>
</div> -->