<video autoplay loop muted id="test">
         <source src="/video/Anime.mp4" type="video/mp4">
           <source src="/video/Anime.webm" type="video/webm">
           </video>
<div class="col-md-12 header-title">
	<div class="container-fluid">
		<!-- <h1 class="logo">Anime World</h1> -->
		<h2 class="text-branding text-jumbo text-contrast space-1">WELCOME</h2>
	</div>
	<div class="h4 text-contrast space-4">
		A place for people who want to become anime fans.
	</div>
	<a href="/info/what_is_anime" class="btn hide-sm btn-contrast btn-large btn-semi-transparent js-show-what-is-anime">What Is Anime</a>

	
	<!-- <div class="container-fluid tutorial">
		<div class="row text-center">
			<h2 class="anime-tag">What Is Anime?</h2>
		</div> -->
	</div>
</div>

<!-- <div class="container-fluid tutorial">
	<div class="row text-center">
		<h2 class="about-tag">What Is Anime?</h2>
	</div>
</div> -->