// CJ: small thing, but I would just put these styles in `pages.scss`
// rather than giving them their own stylesheet

.header {
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.header-video {
    width: 100%;
    height: auto;
    outline: solid 20px black;
    -webkit-background-size: cover; 
    -moz-background-size: cover;    
    -o-background-size: cover;      
    background-size: cover;         
}

.header-text {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}